@model projectt.Models.LearningPath

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LearningPath</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdaptiveRules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdaptiveRules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalizationProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalizationProfile.LearnerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PathId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
