@model IEnumerable<projectt.Models.PersonalizationProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PreferedContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmotionalState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Learner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PreferedContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmotionalState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Learner.LearnerId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
