@model GamifiedPlatform.Models.LearnerDiscussion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LearnerDiscussion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Post)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forum.ForumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Learner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Learner.LearnerId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
